<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../styles/brython.css" />
    <!-- <script type="text/javascript" src="../node_modules/brython/brython.js"></script>
    <script type="text/javascript" src="../node_modules/brython/brython_stdlib.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.8.8/brython.min.js"></script>
    <title>Document</title>
  </head>
  <body onload="brython()">
    <!-- <script type="text/python" src="../assets/about.py"></script> -->
    <script type="text/python">
      from browser import document, alert, console
      console.log('hello')
      def echo(event):
          alert(document["zone"].value)

      document['mybutton'].bind('click', echo)
      </script>
    <div class="container">
      <h1>Brython sandbox</h1>
      <button id="go_to" class="btn btn-dark">back</button>

      <div id="python-sandbox">
        <input id="zone"><button class="btn btn-primary" id="mybutton">click !</button>
      </div>
    </div>

    <script>
      const { ipcRenderer } = require("electron");
        document.getElementById("go_to").addEventListener("click", () => {
          ipcRenderer.send("GoTo_home", "data");
        });
    </script>
  </body>
</html>
